@media screen and (min-width: 851px) {
    section {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    section article:first-child {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 25%;
    }

    section article {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 25%;
        margin-left: 5px;
        margin-right: 5px;
    }

    section article:last-child {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 25%;
    }
}

@media screen and (max-width: 850px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    section article:first-child {
        /* flex-grow: 1; */
        /* flex-basis: 0; */
        /* max-width: 25%; */
    }
    
    section article {
        /* flex-grow: 1; */
        /* flex-basis: 0; */
        /* max-width: 100%; */
        /* margin-left: 5px; */
        /* margin-right: 5px; */

        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    section article:last-child {
        /* flex-grow: 1; */
        /* flex-basis: 0; */
        /* max-width: 25%; */
        margin-bottom: 15px;
    }
}