.comment_userDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

#commentSection_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

#commentSection_title > #titleText {
    display: flex;
    justify-content: center;
    align-items: center;
}

#commentSection_box {
    background-image: linear-gradient(0deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 100%);    
}

.comment {
    display: flex;
    flex-direction: column;
}

.comment .comment_saveCancel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
}

#commentSection_input {
    margin-top: 7px;
    max-width: 700px;
}

#commentSection_input > #commentSection_submitButton {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 5px;
}