#navigator_bar {
    background-image: linear-gradient(to bottom right, rgb(235, 144, 159), mistyRose);
    display: flex;
}

#navigator_searchFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

#searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}